---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-footer{
	background-image: url('img/footer_background.png'); 
	background-position: 50% 230px; 
	background-repeat:no-repeat;
	background-size: 1920px 100%; 
}

@media screen and (min-width: 1920px) { //when the screen width is more than the footer image witdh
	.site-footer{
		background-size: 100% 100%; 
	}
}

.footer-image-for-small-screen{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 120px;
}

@media screen and (min-width: 1280px) {


	body{
		background-image: url('img/left_background_group.png'), url('img/right_background_group.png');
		background-size: 240px auto; 
		background-position: 30px 70px, right; 
		background-repeat:no-repeat;
	}

	.footer-image-for-small-screen{
		display: none;
	}
}


.medium-centered-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.onethird-image{
	width: 30%;
}

